!!! 5
%html
  %head
    %title RebelHold | Rebel against the norm
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.logo
      = image_tag 'logo.png'
    .container-fluid
      .row-fluid
        .span2.well
          Heyo!
        .span9.well
          = yield
      .row-fluid
        %footer
          %h2
            Rebel against the Norm
